sudo: required

addons:
  hosts:
    - MyZabbixServer

services:
  - docker

before_install:
  - ./travis/run_zabbix_container.sh

language: csharp
mono: none
solution: ZabbixApi.sln
dotnet: 2.1.3
script:
 - dotnet build
 - dotnet test ZabbixApiTests -p:ParallelizeTestCollections=false